<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <Properties>
        <Property name="log-path">${sys:LOG_PATH}</Property>
        <Property name="app-name">dev-demo-rest</Property>
        <Property name="CONSOLE_LOG_PATTERN">%highlight{%d{yyyy-MM-dd HH:mm:ss.SSS} [%t#${sys:PID}] %-5level %logger{36}.%M:%L - %msg%n}{TRACE=white, DEBUG=blue, INFO=green, WARN=yellow, ERROR=magenta, FATAL=red}</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--<PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36}.%M:%L - %msg%n"/>-->
            <PatternLayout pattern="${CONSOLE_LOG_PATTERN}"/>

        </Console>

        <RollingRandomAccessFile name="File" fileName="${log-path}/${app-name}.log"
                                 filePattern="${log-path}/%d{yyyy-MM-dd}/${app-name}_%d{yyyy-MM-dd}_%i.log.gz">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{[%t]} %-5level %logger{36}.%M:%L - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="64 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Logger name="cn.net.wujun" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>

</Configuration>